.app{
	width: 80%;
	min-height: 600px;
	min-width: 300px;
    margin: 0 auto;
    border: 1px solid grey;
    font-size: 12px;
    font-family: sans-serif;
    
    h1{
    	text-align: center;
    	border-bottom: 1px solid grey;
    	padding-bottom: 10%;
    }
    .playerContainer{
    	display: block;
    	width: 100%;
    	text-transform: uppercase;
    	div{
    		width: 50%;
    		height: 50px;
    		text-align: center;
    		display: inline-block;
    	}
    	div:first-child{
    		cursor: pointer;
    	}
    }
    .choiceContainer{
    	display: block;
    	width: 100%;
    	margin: auto;
    	border-top: 1px solid grey;
    	button{
    		display: inline-block;
    		cursor: pointer;
    		border :none;
    		border-right:1px solid grey;
    		background: none;
    		width: 33.33333333%;
    		height: 50px;
    		min-width: 100px;
    		&:last-child{
				border-right:none;
    		}
    		&:hover{
    			background-color: rgba(208, 208, 208, 0.55);
    		}
    	}
    }
    .gameModeContainer{
    	display: block;
    	width: 100%;
    	border-top: 1px solid grey;
    	border-bottom: 1px solid grey;
    	button{
    		width: 50%;
    		cursor: pointer;
    		display: inline-block;
    		border: none;
    		border-right: 1px solid grey;
    		background: none;
    		height: 50px;
    		&:hover{
    			background-color: rgba(208, 208, 208, 0.55);
    		}
    		&:last-child{
    			border-right:none;
    		}
    	}
    }
    .gameScoreContainer{
    	display: block;
    	width: 100%;
    	text-align: center;
    	div{
    		width: 50%;
		    cursor: pointer;
		    display: inline-block;
		    font-size: 18px;
		    line-height: 5;
		    font-weight: 600;
		    border: none;
		    background: none;
		    height: 50px;
		    vertical-align: middle;
    	}
    	.gameScore{
    		width: 100%
    	}
    }
}
